<div class="footer-copyright">
    <div class="container">
        © 2021 No Copyrights
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        <%= link_to "About Us", about_path, class: "grey-text text-lighten-4 right" %>
    </div>
</div>
